<template>
  <main>
    <section>
      <b-container class="p-4 mt-sm-4">
        <h1
          class="py-4 text-center"
          v-html="$t('faq.title')"
        ></h1>
        <div
          v-for="key in Object.keys($t(`faq`))
            .filter(i => !['title', 'clic', 'crowdfunding'].includes(i))"
          :id="key"
          :key="key"
        >
          <h2
            class="col-lg-8 text-center mx-auto mt-4 mb-2"
            v-html="$t(`faq.${key}.title`)"
          ></h2>
          <b-row
            v-for="id in Object.keys($t(`faq.${key}`)).filter(i => !['title'].includes(i))"
            :id="id"
            :key="id"
            class="pt-4 pb-3 mb-4 mx-0"
          >
            <b-col
              tag="h3"
              lg="5"
              xl="4"
              class="h4 text-lg-right"
            >
              <a :href="`#${id}`">
                <i class="fas fa-link"></i>
                <span v-html="$t(`faq.${key}['${id}'].q`)"></span>
              </a>
            </b-col>
            <b-col
              lg="7"
              xl="8"
              v-html="$t(`faq.${key}['${id}'].a`)"
            />
          </b-row>
        </div>
      </b-container>
    </section>
  </main>
</template>

<style lang="scss">

#faq {
    .h4 a {
    background: none !important;

    .fas {
      visibility: hidden;
    }

    &:hover, &:focus {
      .fas {
        visibility: visible;
      }
    }
  }

  .row:target  {
    background: var(--j-p1);
  }

  .content-wrapper {
    margin-bottom: 40px;
  }

  .list-group-item {
    background: #fff;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--j-p2);
    border-top: 1px solid var(--j-p2);
    margin: 0;

    &:nth-child(odd) {
      border-image: linear-gradient(to right, #fff 40%, var(--j-p2)) 1;
    }
    &:nth-child(even) {
      border-image: linear-gradient(to right, #fff 20%, var(--j-p2)) 1;
    }

    &.active {
      color: inherit;
      background: #fff8f1;
      border: none;
      border-left: 3px solid var(--j-p2);
      padding-left: calc(1.25rem - 3px);
    }

    &:first-child {
      border-top: none;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
</style>
