@import '../../commons/scss/frama/colors';
@import '../../commons/scss/frama/shadows';

:root {
  --j-frama: #725794;
  --j-soft: #cc4e13;

  /* Mobilizon colors
    ~~@mcgodwin, 2020-03-06

    Primary
    Hue 35
  */
  --j-p1: #FFF1DE; /* background */
  --j-p2: #FFD599; /* background */
  --j-p3: #FEA72B; /* accent, flat */
  --j-p4: #ED8D07; /* text, underline */

  --j-p2-dark7: #{darken(#FFD599, 7.5%)};
  --j-p2-dark10: #{darken(#FFD599, 10%)};
  --j-p2-dark12: #{darken(#FFD599, 12.5%)};
  --j-p2-light10: #{lighten(#FFD599, 10%)};

  /*
    Secondary
    Hue 245-248
  */
  --j-s1: #E6E4F4; /* background, accent (main) */
  --j-s2: #CDCAEA; /* background, accent */
  --j-s3: #757199; /* text */
  --j-s4: #3C376E; /* title, border, button */
  --j-s5: #474467; /* text */
  --j-s6: #3A384C; /* text */

  --j-s5-light25: #{lighten(#474467, 25%)};
  --j-s5-light30: #{lighten(#474467, 30%)};

  /*
    Dark / Light
  */
  --j-d1: #ECEBF2; /* background, flat */
  --j-d2: #D7D6DE; /* border */

  /*
    Orange
    Hue 12-13
  */
  --j-o1: #FBD5CB; /* background, flat */
  --j-o2: #D35204; /* breadcrumb, accent */

  /*
    Blue
    Hue 189-193
  */
  --j-b1: #17A3BB; /* hover */
  --j-b2: #1E7D97; /* button, accent */

  /*
    Red = Alert
    Hue 349
  */
  --j-r1: #FF2E54; /* background, flat */
  --j-r2: #E8284A; /* text */
  /*
    Green = OK
    Hue 157-163
  */
  --j-g1: #23B087; /* hover */
  --j-g2: #0D8758; /* text */
}
/* Frameworks */
$primary:   #FFD599 !default; /* p2 */
$secondary: #474467 !default; /* s5 */

$danger:    #FF2E54; /* r1 */
$info:      #17A3BB; /* b1 ? #36bcd4 on Mobilizon */
$success:   #0D8758; /* g2 */
$warning:   #D35204; /* o2 ? #ffdd57 on Mobilizon */

@import 'frameworks/bootstrap4';
@import 'frameworks/iconslk';

/* Fonts */
@import 'fonts/dejavu-sans';
@import 'fonts/roboto';

@import 'joinmobilizon';
